:root {
  font-size: 62.5%;

  --white: #fff;
  --brand-primary: #b52184;
  --brand-secondary: #312d64;
  --gradiant-primary: #343193;
  --gradiant-secondary: #302c63;
}

* {
  margin: 0;
  padding: 0;
  font-family: Mulish, sans-serif;
  box-sizing: border-box;
}

header {
  text-align: center;
  padding: 0 3.2rem 9.2rem;
}

header > #astronaut {
  width: 100%;
  max-width: 34.8rem;
  animation: topdown 700ms 400ms ease-in-out backwards;
}

header #header-text {
  animation: leftright 700ms 200ms ease-in-out backwards;
}

header h1 {
  margin-top: 1.6rem;
  margin-bottom: 0.5rem;

  font-size: 3.2rem;
  font-weight: 900;
  color: var(--brand-primary);
}

header p {
  font-size: 2rem;
  font-weight: 600;
  color: var(--brand-secondary);
}

header #arrow-down {
  margin-top: 3.5rem;
  animation: topdown 700ms 600ms ease-in-out backwards;
  transition: transform 200ms ease-in-out;
}

header #arrow-down:hover {
  transform: scale(1.1);
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6rem;
  padding: 5.3rem 2.6rem;
  background: linear-gradient(
    134deg,
    var(--gradiant-primary) 0%,
    var(--gradiant-secondary) 100%
  );
}

.card {
  flex: 0 1 36.6rem;
  padding: 2.65rem;
  border-radius: 2rem;
  background: var(--white);
  box-shadow: 0px 3.3107693195343018px 13.243077278137207px 0px
    rgba(0, 0, 0, 0.25);
  width: 100%;
  transition: transform 300ms ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.card:nth-child(1) {
  animation: appear 700ms 800ms ease-in-out backwards;
}

.card:nth-child(2) {
  animation: appear 700ms 1000ms ease-in-out backwards;
}

.card:nth-child(3) {
  animation: appear 700ms 1200ms ease-in-out backwards;
}

.card > h2 {
  margin-top: 3.2rem;
  margin-bottom: 2rem;
  color: var(--brand-primary);
  font-size: 2.8rem;
  font-weight: 900;
}

.card > p {
  color: var(--brand-secondary);
  font-size: 1.6rem;
  font-weight: 600;
  max-width: 32rem;
}

#contact {
  display: grid;
  grid-template-columns: 1fr 0fr;
  place-items: center;
}

#background-stars {
  display: none;
}

#contact-form {
  padding: 8rem 4rem 6.4rem;
  width: 100%;
  max-width: 59.2rem;
}

#contact-form > fieldset {
  border: none;
}

#contact-form > button[type="submit"] {
  padding: 1.6rem;
  border: none;
  border-radius: 1.6rem;
  background: linear-gradient(
    134deg,
    var(--gradiant-primary) 0%,
    var(--gradiant-secondary) 100%
  );
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  text-transform: capitalize;
  transition: all 200ms ease-in-out;
}

#contact-form > button[type="submit"]:hover {
  filter: brightness(0.8);
}

#contact-form > button[type="submit"]:active {
  filter: brightness(1.2);
}

#contact-form > button[type="submit"]:focus-visible {
  outline: var(--brand-secondary) solid 3px;
  outline-offset: 2px;
}

#contact-fields > legend {
  margin-bottom: 4.2rem;
  color: var(--brand-primary);
  font-size: 3.2rem;
  font-weight: 900;
}

#contact-fields > label {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 2.4rem;
  background-color: var(--white);
  border: 1.5px solid var(--brand-secondary);
  border-radius: 1.6rem;
  padding: 1.2rem 1.6rem;
  width: 100%;
  height: auto;
}

#contact-fields > label > span {
  display: none;
}

#contact-fields textarea {
  resize: none;
  min-height: 9rem;
}

#contact-fields input,
#contact-fields input::placeholder,
#contact-fields textarea,
#contact-fields textarea::placeholder {
  color: var(--brand-secondary);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 100%;
}

#contact-fields input,
#contact-fields textarea {
  border: 0;
  height: 100%;
  width: 100%;
}

#contact-fields input:focus-visible,
#contact-fields textarea:focus-visible {
  outline: none;
}

footer {
  padding: 3.2rem 1.6rem;
  background: linear-gradient(
    134deg,
    var(--gradiant-primary) 0%,
    var(--gradiant-secondary) 100%
  );
}

footer > p {
  color: var(--white);
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

@media (min-width: 700px) {
  header {
    padding: 0 2.8rem 5rem 5rem;
    text-align: start;
    display: grid;
    grid-template-areas: "text astronaut";
  }

  header > #astronaut {
    grid-area: astronaut;
    justify-self: flex-end;
    max-width: 72rem;
  }

  header #header-content {
    grid-area: text;
    display: grid;
    grid-template-rows: 1fr min-content;
  }

  header #arrow-down {
    max-height: 10rem;
    margin-top: 0;
    align-self: flex-end;
  }

  header #header-text {
    align-self: center;
  }

  .card > h2 {
    font-size: 3.6rem;
  }

  .card > p {
    font-size: 2rem;
  }

  #contact-fields > legend {
    font-size: 4.2rem;
  }
}

@media (min-width: 1000px) {
  header {
    padding: 0 2.8rem 10.5rem 10.5rem;
  }

  header #header-text > h1 {
    font-size: 4.8rem;
  }

  header #header-text > p {
    font-size: 2.8rem;
  }

  #contact-form {
    box-sizing: content-box;
    padding: 9.5rem;
  }
}

@media (min-width: 1200px) {
  header #header-text > h1 {
    font-size: 5.8rem;
  }

  header #header-text > p {
    font-size: 3.2rem;
  }

  #contact {
    grid-template-columns: 1fr 1fr;
  }

  #background-stars {
    display: block;
    width: 100%;
    max-width: 64.4rem;
    align-self: flex-end;
    justify-self: flex-end;
  }
}

@media (min-width: 1400px) {
  header {
    display: grid;
    place-content: center;
  }
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-16px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes leftright {
  0% {
    opacity: 0;
    transform: translateX(-16px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
